 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../../static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
      <div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">DOW Emergency Unit</h2>
            <div class="row">
                <form   role="form" class="col s12" action="http://localhost:5000/admin">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="fname" disabled value={{data[1]}} type="text" class="validate">
                            <label for="fname">First Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input name="lname" disabled value={{data[2]}} type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="nic" disabled value={{data[8]}} type="text" class="validate" required>
                            <label for="nic">NIC</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input name="age" disabled value={{data[3]}} type="text" class="validate">
                            <label for="age">Age</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="sym" disabled value={{data[7]}} type="text" class="validate" required>
                            <label for="sym">Symptoms</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input name="pt" disabled value={{data[9]}} type="text" class="validate">
                            <label for="pt">Physician Type</label>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="hname" disabled value={{data[5]}} type="text" class="validate" required>
                            <label for="hname">Hospital Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input name="ambid"  disabled value={{data[6]}} type="text" class="validate">
                            <label for="ambid">Ambulance ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea name="msg" disabled value={{data[4]}} class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                    </div>
                      
                </form>
                <form   role="form" method="post" class="col s12" action="http://localhost:5000/agha">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="nic"   type="text" class="validate">
                            <label for="nic">NIC</label>
                        </div>
                    </div>
                      <div class="row">
                          <div class="col m12">
                           <p class="right-align">
                            <input type="submit"  value="Submit!" />
                           </p>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </body>
  </html>