body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background:url("../img/intro-bg.jpg") repeat center center;
}

main {
  flex: 1 0 auto;
  background-color: rgba(255,255,255,0.9);
  padding:35px 0;

}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #26a69a;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: none;
}
label {color: #333333 !important;}
nav, footer.page-footer {background-color: #303030;}
nav .brand-logo {width:200px;margin-top: 6px;}
nav a.button-collapse {display: block; margin-left: 25px;}

footer.page-footer {padding-top: 0;margin-top: 0;}
footer.page-footer .footer-copyright {font-size: 13px;}

h2 {color: #96281B;
  font-size: 22px;
  font-weight: bold;}

.pull-wide {float: left;width:100%;}
.clearfix {clear: both;}
.left0 {left:0 !important;}
/*----------=============Login==========----------*/
.login-box {display: inline-block; padding:20px 48px; border: 1px solid #EEE;text-align: left;}
.btn-forgot-password {font-size: 12px;color:#9e9e9e;}
.btn-forgot-password:hover{text-decoration: underline;}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 25px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color:#F7CA18;
}
.rating > span.active:before {
  content: "\2605";
  position: absolute;
  color:#F7CA18;
}

.pit-info-main .collection .collection-item.avatar .circle {box-shadow: 0 0 5px;padding: 5px;margin-top: 10px;}
.pit-info-main .collection .collection-item.avatar .title {font-weight: bold;}
.pit-info-row {font-size: 14px;}
.pit-info-row b {padding-right: 10px;color: #455A64;}
.pit-info-row span {margin-right: 25px;color: #000;}

/* Validation Errors */
.input-field input.error {margin-bottom: 3px;    border-bottom: 1px solid #F44336;}
.input-field span.help-block.error {color: #F44336;}
.input-field.has-error {margin-bottom: 15px;}
input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {color: #333333 !important;}
.admin-greetings {
  background-color: #EC1C2F;
  text-align: center;
  opacity: 0.9;
  color: #fff;
  padding: 15px;
  font-weight: bold;
}

.toast {
  background-color: #fff;
  color: #000;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.6;
  opacity: 0.5;
  z-index: 10000;
}

.waiting-for-approval{
  font-size: 45px;
  padding: 20px;
}

.preloader-wrapper {
    margin-left: 45%;
}

/*@media (max-width: 599px) {*/
    /*.preloader-wrapper {*/
        /*margin-left: 45%;*/
    /*}*/
/*}*/