body {margin: 0; padding: 0; width: 100%; height: 1000px; overflow: hidden; position: relative; font-family: "Trebuchet MS"; position: relative;}
#mapCanvas {margin: 0 auto; width: 100%; height: 90%}
#directionsPanel {margin: 0; padding: 0; position: absolute; top: 0; left: 0; width: 275px; height: 600px; background: #fff; border: 1px solid #999; border-left: none; border-top: none; padding:10px 15px;}
#directionsPanel a {display: block; text-decoration:none; clear: both;}
#useGPS {margin:3px auto; background:#FFC903; color: #000; padding: 3px; border:  1px solid #000; text-align: center; font-size: 13px;}
.or {clear: both; padding:0; text-align: center; color: #000; font-size: 13px; font-weight: bold;}
.directionInputs label {background:#FFC903; color: #000; padding:2px 8px; border:  1px solid #000; text-align: center; font-size: 14px; margin-right: 10px}
.directionInputs input {width: 234px; height: 20px; border: 1px solid #000; font-size: 15px;}
.directionInputs #getDirections, .directionInputs #paneReset {display: inline-block; background:#FFC903; color: #000; width: 165px; padding: 3px; text-align: center; border:  1px solid #000; font-size: 13px;}
.directionInputs #paneReset {width: 85px}
#paneToggle {position: absolute; background:#FFC903; color: #000; width: 15px; padding: 0 3px; text-align: center; border:  1px solid #000; font-weight: bold; font-size: 16px; border-left: none; top: 0; right: -23px;}
#directionSteps {clear: both; width:100%; height: 100%; margin: 10px 0 0 0; font-size: 11px; line-height: normal; height: 395px; overflow: auto;}
#directionSteps p {font-size: 13px; color: #999}
.gmap-control-container {
  margin: 5px;
}

.gmap-control {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-user-select: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #717B87 -moz-use-text-color #717B87 #717B87;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #333333 !important;
  cursor: pointer;
  direction: ltr;
  font-family: Arial,sans-serif !important;
  font-size: 13px !important;
  font-weight: normal;
  min-width: 54px;
  overflow: hidden;
  padding: 1px 6px;
  position: relative;
  right: -10px;
  text-align: center;
}

.gmap-control-active {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #6D8ACC;
  border-color: #717B87 -moz-use-text-color #717B87 #717B87;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  color: #FFFFFF !important;
  font-weight: bold;
}